/*Mise en page globale*/
body{
    margin: 0;
    padding: 0;
    font-family:Arial, sans-cerf;
    display: flex;
    height: 100vh
 }
/*---------------SECTION GAUCHE--------*/
.section_gauche{
    width: 35%
    background-color:  #007bff; 
    padding: 20px;
    box-sizing: border-box;
}
section_gauche img{
    display: block;
    margin: 0 auto 15px;
    border-radius: 5px;
}
section_gauche h2 {
    margin-top: 20px;
    font-size 18px
}

section_gauche ul{
    list-style: square;
    padding-left: 20px
}

----------------------SECTION DROITE---------------*/
.section_droite {
    width: 65%
    padding: 40px
    box-sizing: border-box
}

.section_droite h1{ 
font-size: 32px;
margin-botton: 5px;
color: 007bff;
 }

section_droite h2 {
    margin-top: 25 px;
    font-size: 20 px;
    border-botton: 2px solid #444;
    padding-botton: 3px;
}

.section_droite p{
    line-height: 1,5;
}

Alignement du cv */
hr{
    border:none;
    border-top: 1px solid #ccc
    margin: 15px 0;
}






/*fin partie header*/
